.aggiungiNode {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 4em;
}

.menu {
    position: relative;
    width: 200px;
    height: 200px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    position: absolute;
    list-style: none;
}

.toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 0.15);
    font-size: 2em;
}